[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
packaging = "*"
pytest-cov = "*"

[dev-packages]
pytest = "*"
coverage = "*"

[requires]
#python_version = "3.7"
