[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"

[dev-packages]
pytest = "*"
coverage = "*"
cx-freeze = {version = "*", sys_platform = "== 'win32'"}

[requires]
#python_version = "3.7"
